$font:       'IBM Plex Sans', sans-serif;
$text-color : #214A51;


$tablet-width:             768px;
$laptop-width:             1024px;
$desktop-width:            1440px;
$mobile-width-only:        767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;