/* IBM Plex Sans-regular - cyrillic_latin */
@font-face {
  font-weight: normal;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  src: url("../fonts/IBMPlexSans-Regular.ttf") format("ttf");
}
/* IBM Plex Sans-medium - cyrillic_latin */
@font-face {
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  src: url("../fonts/IBMPlexSans-Medium.ttf") format("ttf");
}

/* IBM Plex Sans-semi-bold - cyrillic_latin */
@font-face {
  font-weight: 600;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  src: url("../fonts/IBMPlexSans-SemiBold.ttf") format("ttf");
}

/* IBM Plex Sans-bold - cyrillic_latin */
@font-face {
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  src: url("../fonts/IBMPlexSans-Bold.ttf") format("ttf");
}
